{% extends 'base.html'%}

{% block title %}
    Registration Page
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mt-5 me-5">
    <form class="px-5 my-3 w-25" method="post" enctype="multipart/form-data">
        <div>
            <h2>Signup</h2>
        </div>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-danger">
            {% for category, message in messages %}
            <div>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="form-group my-3">
            <label for="exampleInputEmail1" class="mb-1">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" required>
        </div>
        <div class="form-group my-3">
            <label for="exampleInputPassword1" class="mb-1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
        </div>
        <div class="form-group my-3">
            <label for="exampleInputPassword1" class="mb-1">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="confirm_password" required>
        </div>
        <div class="form-group my-3">
            <label for="exampleInputPassword1" class="mb-1">Photo</label>
            <input type="file" class="form-control" id="exampleInputPassword1" name="image" required>
        </div>
        <button type="submit" class="btn btn-dark my-2">Submit</button>
    </form>
</div>
{% endblock %}
